/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  background-color: rgb(255,255,255); /* Black fallback color */
  
  overflow-x: scroll; 
  transition: 1.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}



/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.back:hover{background-color: red;}

.play{height:0px;
    overflow:visible;pointer-events:none;
    background:none !important;
    display: block;}
.pause{height:0px;
    overflow:visible;pointer-events:none;
    background:none !important;
    display: none;}

.audio_cover{   
	filter: grayscale(100%);
	filter: url(#greyscale);   
    transition: filter 0.5s;
}

.audio_cover:hover{   
	filter: grayscale(0%);
	filter: none;
    transition: filter 0.5s;
    cursor: pointer;
}